/* variables declared here - these are the colors for the page, as well as the font stacks and size */

:root {
  --cell: #006d77;
  --active: #e29578;
  --text: #3d405b;
  --white: #edf6f9;
  --typeface: "Source Serif 4", sans-serif;
  --font-size: 1rem;
  --sans: "Montserrat", sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--typeface);
}

h1 {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0 0;
  font-size: 4rem;
  color: var(--text);
}

.main-content {
  display: flex;
  justify-content: center;
}

.input-word {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: var(--typeface);
  color: var(--text);
  padding-bottom: 2.5rem;
}

.letter-hive {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  grid-template-rows: repeat(3, 2fr);
  grid-gap: 6px;
  margin-bottom: 7rem;
}

.cell {
  grid-column-end: span 2;
  font-size: 3rem;
}

.cell:nth-child(1) {
  grid-column-start: 2;
}

.cell:nth-child(6) {
  grid-column-start: 2;
}

.cell {
  cursor: default;
  position: relative;
  width: 150px;
  height: 86.60254037844388px;
  background-color: var(--cell);
  margin: 43.30127018922194px auto 0 auto;
  box-shadow: 0 0 0px rgba(0, 255, 255, 1);
  border-left: solid 0px var(--text);
  border-right: solid 0px var(--text);
  display: grid;
  transition: 0s;
}

.cell:before,
.cell:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 106.06601717798212px;
  height: 106.06601717798212px;
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 21.96699141100894px;
}

.cell:before {
  top: -53.03300858899106px;
  border-top: solid 0px var(--text);
  border-right: solid 0px var(--text);
}

.cell:after {
  bottom: -53.03300858899106px;
  border-bottom: solid 0px var(--text);
  border-left: solid 0px var(--text);
}

.cell span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 2rem;
  font-family: var(--sans);
  color: var(--white);
  top: 0px;
  left: 0;
  width: 150px;
  height: 86.6025px;
  z-index: 2;
  background: inherit;
  transition: 0s;
  text-transform: uppercase;
}

.cell:hover {
  background-color: #264653;
}

.center-cell {
  background-color: var(--active);
}

.center-cell span {
  color: var(--text);
}

.center-cell:hover {
  background-color: #e07a5f;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2.5rem;
}

.button {
  font-family: var(--typeface);
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  border: solid 2px var(--text);
  background-color: white;
}

.button:hover {
  background-color: var(--white);
}

.score-text p {
  display: flex;
  justify-content: center;
  color: var(--text);
  font-family: var(--typeface);
  font-size: 1.2rem;
}
